@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Center the app in the browser for testing */
body {
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}